body {
    background-color: black;
    text-align: center;
    background-image: url('https://shorturl.at/acv24');
    background-size: cover;
    color: #f3f3f3;
}

.database {
    display: flex;
    float:initial
}